.contenedor {
  background-color: rgb(2, 0, 36);

  border-bottom: solid 1px #ccc;
  padding: 20px;
  margin: 0 auto;
}
.contenedor .subcontenedor {
  margin: 0 auto;
}
.contenedor .subcontenedor div {
  display: inline-block;
  vertical-align: middle;
}
.nombre {
  color: #fff;
  font-weight: bolder;
  font-size: 25px;
}

.buscador {
  width: 500px;
}
